[Unit]
Description=CryptoChat
After=network.target

[Service]
Type=simple
User=aktheman
Group=aktheman
WorkingDirectory=/home/aktheman/cryptochat
Environment="SECRET_KEY_FILE=/home/aktheman/cryptochat/secrets/secret_key"
Environment="FLASK_ENV=production"
ExecStart=/home/aktheman/cryptochat/.venv/bin/gunicorn --bind 127.0.0.1:5000 --workers 2 app:app
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
